
      * {
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        font-weight: 300;
      }
      .feature {

      }
      .appName {
        display: block;
        font-size: 30px;
        padding-bottom: 24px;
        padding-top: 45px;
      }
      .screenshot {
        cursor: pointer;
        border: 1px #EEE solid;
        z-index: 0;
        margin: 10px;
      }
      .screenshotLink {
      	display: inline-table;
      	float: left;
      	position: relative;
      	width: 250px;
      	margin: 0 10px;
      }
	  body.large .screenshotLink {
      	width: 500px;
      }
      body.medium .screenshotLink {
      	width: 350px;
      }

      th {
        text-align: left;
      }
      td {
        text-align: center;
      }
      #overlay {
        position:fixed;
        top:0;
        left:0;
        background:rgba(0,0,0,0.8);
        z-index:5;
        width:100%;
        height:100%;
        display:none;
        cursor: zoom-out;
        text-align: center;
      }
      #imageDisplay {
        height: auto;
        width: auto;
        z-index: 10;
        cursor: pointer;
      }
      #imageInfo {
        background: none repeat scroll 0 0 rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        color: white;
        margin: 20px;
        padding: 10px;
        position: absolute;
        right: 0;
        top: 0;
        width: 250px;
        z-index: -1;
      }
      body.large #imageInfo {
        width: 500px;
      }
      body.large #imageInfo {
        width: 350px;
      }
      #imageInfo:hover {
        z-index: 20;
      }